$primary-color: #d9e2ec;

::placeholder {
    text-align: right; 
}

input {
    min-width: 13rem;
    min-height: 3rem;
    border-radius: 0.5rem;
    text-align: right;
    background-color: $primary-color;
}